<h1><%= @wiki.title %></h1>
<small>
    Creator: <%= @wiki.user.email %>
</small>
<small>
    Collaborators: 
    <% @wiki.collaborators.each do |t| %>
        <% user = User.find(t.user_id) %>
        <%= user.email %>
    <% end %>
</small>

<div class="row">
    <div class="col-md-8">
        <p><%= markdown(@wiki.body) %></p>
        <p><%= @wiki.private %></p>
    </div>
    <div class="col-md-4">
        <% if current_user %>
            <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
        <% end %>
        <% if current_user == @wiki.user || current_user.role == "admin" %>
            <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?'} %>
        <% end %>
    </div>
</div>